In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('dandelions-and-clovers-relabeled/annotations_labels.csv')

In [3]:
full_labels.head()

  filename  width  height                 class  xmin  ymin  xmax  ymax
0    0.png    750     500                clover    70   220   249   347
1    0.png    750     500                clover   311   344   487   499
2    0.png    750     500                clover   538   358   669   500
3    0.png    750     500  clover blossom white   458   118   629   243
4    0.png    750     500  clover blossom white   264    28   427   182

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

1     51
2     18
3     11
4      9
5      8
6      7
15     5
10     5
9      4
8      4
12     4
14     4
7      4
16     4
18     3
13     2
19     1
25     1
11     1
17     1
27     1
dtype: int64

In [6]:
gb = full_labels.groupby('filename')

In [7]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

148

In [14]:
train_index = np.random.choice(len(grouped_list), size=120, replace=False)
test_index = np.setdiff1d(list(range(148)), train_index)

In [15]:
len(train_index), len(test_index)

(120, 28)

In [16]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [17]:
len(train), len(test)

(641, 165)

In [19]:
train.to_csv('dandelions-and-clovers-relabeled/train_labels.csv', index=None)
test.to_csv('dandelions-and-clovers-relabeled/test_labels.csv', index=None)